.mainList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  background-color: #fefefe;
  padding: 20px;
}

.extCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}
