.footer {
  display: flex;
  min-width: 100vw;
  width: auto;
  height: 300px;
  position: fixed;
  bottom: -300px;
  left: 0;
  background-color: #eeeeee;
  padding: 10px;
  z-index: 100;
}

.footer .textForEmpty {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  color: #aaaaaa;
}

.empty {
  display: flex;
  justify-content: center;
  color: #555555;
}

.listTitle {
  display: block;
  margin: 5px;
}